###############################################################################
# Exclude the folders and files below
###############################################################################
/Translator/.vs
/Translator/src/__pycache__
~$*

